[MESSAGES CONTROL]
disable=missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        no-self-use,
        raise-missing-from

[FORMAT]
max-line-length=160
